<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommodityimgMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_COMMODITYIMG(
			COMMODITY_ID,	
			IMGURL,	
			CREATETIME,
			BUSINESSUSER_ID,	
			COMMODITYIMG_ID
		) values (
			#{COMMODITY_ID},	
			#{IMGURL},	
			#{CREATETIME},
			#{BUSINESSUSER_ID},	
			#{COMMODITYIMG_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_COMMODITYIMG
		where 
			COMMODITYIMG_ID = #{COMMODITYIMG_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_COMMODITYIMG
			set 
				COMMODITY_ID = #{COMMODITY_ID},
				IMGURL = #{IMGURL},
			COMMODITYIMG_ID = COMMODITYIMG_ID
			where 
				COMMODITYIMG_ID = #{COMMODITYIMG_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			COMMODITY_ID,	
			IMGURL,	
			CREATETIME,	
			COMMODITYIMG_ID
		from 
			TB_COMMODITYIMG
		where 
			COMMODITYIMG_ID = #{COMMODITYIMG_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.COMMODITY_ID,	
				a.IMGURL,	
				a.CREATETIME,	
				a.COMMODITYIMG_ID
		from 
				TB_COMMODITYIMG a
				where
				a.COMMODITY_ID=#{pd.COMMODITY_ID} and a.BUSINESSUSER_ID=#{pd.BUSINESSUSER_ID}
				order by a.CREATETIME desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.COMMODITY_ID,	
				a.IMGURL,	
				a.CREATETIME,	
				a.COMMODITYIMG_ID
		from 
				TB_COMMODITYIMG a where a.BUSINESSUSER_ID=#{BUSINESSUSER_ID}
				<if test="COMMODITY_ID!=null and COMMODITY_ID!=''">
				and a.COMMODITY_ID =#{COMMODITY_ID}
				</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_COMMODITYIMG
		where 
			COMMODITYIMG_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>